
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="ui orange image header">
    <img src="~/Content/genie.png" class="image">
    <div class="content">
        Register new account
    </div>
</h2>
<form class="ui basic form segment ">
    <div class="ui red segment">
        <div class="three wide column">
            <div class="field">
                <div class="ui fluid icon input">
                    <input placeholder="Full Name" name="fullname" type="text">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Username</label>
                    <input placeholder="Username" name="username" type="text">
                </div>
                <div class="field">
                    <label>E-mail</label>
                    <input placeholder="Email" name="email" type="text">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Password</label>
                    <input name="password" type="password">
                </div>

                <div class="field">
                    <label>Password (Again)</label>
                    <input name="password2" type="password">
                </div>
            </div>
            <div class="two fields">
                <div class="ui fluid large orange submit button">Register</div> 
            </div>
            </div>
    </div>


</form>