<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MC_API_CONSUMER_KEY" value="PGe2nN4grZGym5vNrlh66NStiNnoCtMmdj5ObSD014de70a6!4150724d65512f396e5a634848354c6d507836366e6c6b3d"/>
    <add key="SIMPLY_PUBLIC_KEY" value="sbpb_ZjE3OTQ0MmMtNDBmMi00NzhlLWFmNzUtNWQ5MzcxMTk2MWY4" />
    <add key="SIMPLY_PRIVATE_KEY" value="4KTVValnfBetZu1W9k/8YtTJmrC8i/QEZt51vVQ5bv15YFFQL0ODSXAOkNtXTToq" />
  </appSettings>
</configuration>