
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui three column divided grid">
    <div class="stretched row">
        <div class="five wide column" style="padding:0;">
            <div class="ui basic segment" style="padding:0">
                <table class="ui red table">
                    <thead>
                        <tr>
                            <th>Product Info</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td>Product Code </td>
                            <td>XYASAD-ASDASD-2121</td>
                        </tr>
                        <tr>
                            <td>Product Name</td>
                            <td>Nike Boots</td>
                        </tr>
                        <tr>
                            <td>Seller</td>
                            <td>Emre</td>
                        </tr>
                        <tr>
                            <td>From</td>
                            <td>TURKEY</td>
                        </tr>
                        <tr>
                            <td>To</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td>Shipping Date</td>
                            <td>10/6/2015</td>
                        </tr>
                        <tr>
                            <td>Quatitiy</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>50 USD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui basic segment" style="padding:0">
                <table class="ui orange table">
                    <thead>
                        <tr>
                            <th>Your Billing & SInfo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Full Name </td>
                            <td>Yunus Emre Çelenli</td>
                        </tr>
                        <tr>
                            <td>Credit Card</td>
                            <td>4402 xxxx xxxx 4721</td>
                        </tr>
                        <tr>
                            <td>Exp. Date</td>
                            <td>12/19</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Akdeniz Cd. Emek Apt. No:20</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>İstanbul</td>
                        </tr>
                        <tr>
                            <td>Zip Code</td>
                            <td>34225</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>İstanbul</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>Turkey</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="ui basic segment" style="padding:0">
                <table class="ui orange table">
                    <thead>
                        <tr>
                            <th>Confirm Your Order</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Price</td>
                            <td style="text-align:right">50 USD</td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td style="text-align:right">2x</td>
                        </tr>
                        <tr>
                            <td>Total Price</td>
                            <td style="text-align:right">100 USD</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="ui buttons right floated">
                                    <button class="ui button">Cancel</button>
                                    <div class="or"></div>
                                    <button class="ui positive button">Confirm</button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>


    </div>
</div>

