@{
    ViewBag.Title = "Home Page";
}

<div class="ui orange eight item menu">
    <a class="item active">
        Fashion
    </a>
    <a class="item">
        Home & Garden
    </a>
    <a class="item ">
        Toys
    </a>
    <a class="item ">
        Kids & Baby
    </a>
    <a class="item ">
        Music & Games
    </a>
    <a class="item ">
        Healty & Beauty
    </a>
    <a class="item ">
        Books
    </a>
    <a class="item ">
        Everything Else
    </a>
</div>
<div class="ui three column divided grid">
    <div class="stretched row">
        <div class="four wide column">
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/products/14.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <a href="/home/productDetail/">
                                <div class="ui olive vertical animated button right floated" tabindex="0">
                                    <div class="hidden content">Shop</div>
                                    <div class="visible content">
                                        <i class="shop icon"></i>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/products/12.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <div class="ui olive vertical animated button right floated" tabindex="0">
                                <div class="hidden content">Shop</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/products/11.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <div class="ui olive vertical animated button right floated" tabindex="0">
                                <div class="hidden content">Shop</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="four wide column">
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <div class="ui olive vertical animated button right floated" tabindex="0">
                                <div class="hidden content">Shop</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <div class="ui olive vertical animated button right floated" tabindex="0">
                                <div class="hidden content">Shop</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <div class="ui olive vertical animated button right floated" tabindex="0">
                                <div class="hidden content">Shop</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="four wide column ">
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <div class="ui olive vertical animated button right floated" tabindex="0">
                                <div class="hidden content">Shop</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <div class="ui olive vertical animated button right floated" tabindex="0">
                                <div class="hidden content">Shop</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th><span class="right floated"><i class="us flag"></i> <i class="long arrow right icon"></i> <i class="tr flag"></i> </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                            <a class="ui red ribbon label">Going To Turkey in 3 days</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PRIMITIVE PUMPKIN AND CAT DECOR</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="ui large blue ribbon label">$ 30.99</a>
                        </td>
                        <td>
                            <div class="ui olive vertical animated button right floated" tabindex="0">
                                <div class="hidden content">Shop</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="four wide column ">
            <table class="ui orange table">
                <thead>
                    <tr>
                        <th colspan="4">Top Users</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>
                            <img class="ui avatar image" src="~/Content/avatar/12.jpg">
                        </td>
                        <td>Richard </td>
                        <td>240 points</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img class="ui avatar image" src="~/Content/avatar/5.jpg"></td>
                        <td>EmreNy</td>
                        <td>150 points</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img class="ui avatar image" src="~/Content/avatar/1.jpg"></td>
                        <td>Maria87</td>
                        <td>145 points</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img class="ui avatar image" src="~/Content/avatar/2.jpg"></td>
                        <td>LeeArc</td>
                        <td>120 points</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img class="ui avatar image" src="~/Content/avatar/3.jpg"></td>
                        <td>Charl</td>
                        <td>110 points</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><img class="ui avatar image" src="~/Content/avatar/4.jpg"></td>
                        <td>CherryPie</td>
                        <td>100 points</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><img class="ui avatar image" src="~/Content/avatar/8.jpg"></td>
                        <td>Sunny</td>
                        <td>90 points</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><img class="ui avatar image" src="~/Content/avatar/9.jpg"></td>
                        <td>Mark</td>
                        <td>86 points</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>