@{
    ViewBag.Title = "Home Page";
}
<div class="ui three column divided grid">
    <div class="stretched row">
        <div class="four wide column" style="padding:0;">
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>Price </td>
                        <td>50 USD</td>
                    </tr>
                    <tr>
                        <td>Seller</td>
                        <td>Emre</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div class="four wide column"> 
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>Price </td>
                        <td>50 USD</td>
                    </tr>
                    <tr>
                        <td>Seller</td>
                        <td>Emre</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="four wide column " >
            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Nike Boots</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img class="ui fluid image" src="~/Content/sample/kapak.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>Price </td>
                        <td>50 USD</td>
                    </tr>
                    <tr>
                        <td>Seller</td>
                        <td>Emre</td>
                    </tr>

                </tbody>
            </table>
            
        </div>
        <div class="four wide column ">
            <table class="ui orange table">
                <thead>
                    <tr>
                        <th>Top Users</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>Price </td>
                        <td>50 USD</td>
                    </tr>
                    <tr>
                        <td>Seller</td>
                        <td>Emre</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>