
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui large breadcrumb" style="margin-bottom:10px">
    <a class="section">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section">Fashion</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">Bag</div>
</div>
<div class="ui three column divided grid" style="min-height: 700px;">
    <div class="stretched row">
        <div class="five wide column" style="padding:0;">

            <div class="ui  segment">
                <div class="ui huge header">Yellow Bag </div>
                <img class="ui medium rounded image" src="~/Content/sample/kapak.jpg">
                <div class="ui bottom attached label">Product Photo Taken @@ New York City</div>

            </div>
            <div class="ui basic segment" style="padding:0;margin-right:30px">
                <div class="ui left labeled button" tabindex="0">
                    <a class="ui basic right pointing label">
                        2,048
                    </a>
                    <div class="ui button">
                        <i class="heart icon"></i> Like
                    </div>
                </div>
                <button class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </button>
            </div>
            <div class="ui basic segment">


            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui basic segment">
                <div class="ui relaxed list">
                    Seller
                    <div class="item">
                        <img class="ui avatar image" src="~/Content/avatar/Emre.png">
                        <div class="content">
                            <a class="header">Emre</a>
                            <div class="description">Last seen at <a><b>New York City</b></a> on 8pm.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui basic segment">
                <div class="ui form">
                    <div class="field">
                        <label>Quantity</label>
                        <select class="ui dropdown">
                            <option value="">Quantity</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>