
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui green message">
    Payment was successfull. Thank you for your purchase.
    <br /><br />
    You can track your orders by <a href="/account/orders">clicking here</a>.
    <br /><br />
    Have a great day!
</div>

